.view-grid {
  //underwriting errors styling {
  .underwritingExceptions {
    ~ div {
      display: none;
    }
    //underwriting review error
    .UWReview {
      padding: 0;
      .subtitle {
        flex-direction: column;
        justify-content: flex-start;
        strong {
          display: block;
          margin-bottom: 0.25rem;
          font-family: $serif;
        }
      }

      .needsUpdating {
        div {
          display: flex;
          flex-grow: 1;
          flex-shrink: 1;
          margin-bottom: 1rem;
          a {
            align-self: center;
            flex-grow: 1;
            flex-shrink: 1;
            margin-bottom: 0;
            &.contactEmail {
              color: $navy;
            }

            &.btn {
              text-align: center;
            }
          }
        }
      }
    }

    //underwriting fatal error
    .UWFatal {
      padding: 0;
      div {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: center;

        a {
          display: flex;
          flex-grow: 1;
          flex-shrink: 1;

          &.contactEmail {
            color: $navy;
          }
        }
      }
    }
  }
}
