//search bar styling

.searchInputWrapper {
  position: relative;

  flex-grow: 0;
  flex-shrink: 0;

  width: 100%;
  margin-bottom: 1rem;

  .property-search {
    position: relative;
  }

  input {
    width: 100%;
  }

  //search bar button override

  button {
    display: none;
  }
}

.view-grid {
  //search result card styling
  flex-direction: column;
  .searchAddressForm {
    flex-grow: 1;
    flex-shrink: 0;
    .searchInputWrapper {
    }
  }
  .title {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;

    section {
      &.results {
        .card {
          flex-direction: row;

          padding: 0 $padding;

          .cardContent {
            padding: ($padding / 4) 0 ($padding / 4) 0;
          }

          &:hover {
            cursor: pointer;
            transform: scale(0.99);

            @include shadow(0, 1px, 4px, rgba($navy, 0.25));
          }

          footer {
            width: auto;
            margin: 0;
            padding: 0;
          }
        }

        .component-loader {
          height: auto;
        }
      }
    }

    hr {
      flex-grow: 0;
      flex-shrink: 0;
    }

    footer {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
}

//mobile card styling

.results {
  .card {
    .cardContent {
      padding: ($padding / 2) 0;
    }
  }
  div {
    color: $red;

    font-size: $fontSizeBody;
  }

  //div above overwrote card styling for typography
  h4,
  p,
  svg {
    color: $navy;
  }
}
