//button styling
button,
.btn,
submit {
  margin-bottom: 2rem;
  padding: ($padding / 2.5) ($padding * 1.5);

  text-align: center;

  color: $white;
  border: 2px $blue solid;
  border-radius: $borderRadius;
  background-color: $blue;

  font-family: $serif;
  font-size: $fontSizeSubheader;
  font-weight: bold;

  @include shadow(0, 3px, 6px, rgba($navy, 0.16));
  @include transition(all 0.1s ease-in-out);

  &:hover {
    cursor: pointer;

    border-color: rgba($blue, 0);
    background-color: mix($blue, $navy, 80%);

    @include shadow(0, 1px, 2px, rgba($navy, 0.5));
  }

  &.btn-secondary {
    color: $blue;
    background-color: $white;
    &:hover {
      color: $white;
      border-color: rgba($blue, 0);
      background-color: mix($blue, $navy, 80%);
    }
  }
}

//button container styling
.btnContainer {
  display: flex;
  justify-content: flex-end;

  .btn,
  button,
  submit {
    margin-left: 1rem;
  }
}
