//section component
section {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 1;
  flex-wrap: wrap;

  label {
    margin-bottom: 0;
    padding-top: ($padding / 4);
    padding-bottom: 0;
  }

  p {
    margin: 0;
    padding-top: ($padding / 4);
    padding-bottom: ($padding / 4);
  }

  .congratsCircle {
    position: absolute;
    z-index: 0;
    top: -2.5rem;
    right: calc(50% - 32rem);

    width: 64rem;

    svg {
      filter: drop-shadow(0px 8px 12px rgba($navy, 0.5));
      fill: $navy;
    }
  }

  .congratsIcon {
    z-index: 1;

    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;

    animation-name: tada;
    animation-duration: 1.5s;
    animation-delay: 2s;

    color: white;

    font-size: 10rem;

    svg {
      width: 15rem;
      height: 15rem;

      filter: drop-shadow(0px 8px 12px rgba(29, 64, 78, 0.25));
      fill: $white;
    }
  }
}
