//search bar styling

.searchInputWrapper {
  width: 100%;
  display: flex;
  margin-bottom: 0.5rem;

  .form-group {
    border-top-right-radius: 0;
  }

  //search bar button override

  button {
    border-radius: 0 $borderRadius 0 0;
    background-color: $extraLightGrey;
    color: $navy;
    padding-right: $padding;
    margin-bottom: 0;
    margin-left: 0;
    border: 0;
    border-bottom: 1px $navy solid;
    align-self: stretch;
    @include shadow(0, 0, 0, rgba(0, 0, 0, 0));
    &:hover {
      @include shadow(0, 0, 0, rgba(0, 0, 0, 0));
      cursor: pointer;
      background-color: $extraLightGrey;
      border-bottom: 1px $navy solid;
    }
  }
}

.searchInputWrapper {
  @include forPhoneOnly {
    .form-group {
      label {
        font-size: $fontSizeBody;
        margin-bottom: 0.25rem;
      }
      input {
        font-size: $fontSizeBody;
      }
    }
  }
}

//search result card styling

.results {
  .card {
    flex-direction: row;
    padding: 0 $padding;
    &:hover {
      @include shadow(0, 1px, 4px, rgba($navy, 0.25));
      transform: scale(0.99);
      cursor: pointer;
    }

    .cardContent {
      padding: $padding 0 $padding 0;
    }
  }
}

//mobile card styling

.results {
  .card {
    @include forPhoneOnly {
      margin-bottom: 0.5rem;
    }
    .cardContent {
      padding: ($padding / 2) 0;
    }
  }
}

//temp -- !! please remove when dev done in react
form {
  width: 100%;
}
