//search bar styling

.searchInputWrapper {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: 1rem;
  width: 100%;

  .property-search {
    position: relative;
  }

  input {
    width: 100%;
  }

  //search bar button override

  button {
    display: none;
  }
}

.searchInputWrapper {
  @include forPhoneOnly {
    .form-group {
      label {
        position: absolute;
        margin-bottom: 0.25rem;
        font-size: $fontSizeBody;
      }
      input {
        height: 3rem;
        -webkit-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: $fontSizeBody;
      }
    }

    button {
      height: 3rem;
    }
  }
}

//search result card styling
.view-grid {
  flex-direction: column;
  .title {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;

    section {
      &.results {
        .card {
          flex-direction: row;
          padding: 0 $padding;

          .cardContent {
            padding: ($padding / 4) 0 ($padding / 4) 0;
          }

          &:hover {
            cursor: pointer;
            transform: scale(0.99);

            @include shadow(0, 1px, 4px, rgba($navy, 0.25));
          }

          footer {
            margin: 0;
            width: auto;
          }
        }

        .component-loader {
          height: auto;
        }
      }
    }

    hr {
      flex-grow: 0;
      flex-shrink: 0;
    }

    footer {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
}

//mobile card styling

.results {
  .card {
    @include forPhoneOnly {
      margin-bottom: 0.5rem;
    }
    .cardContent {
      padding: ($padding / 2) 0;
    }
  }
  div {
    color: $red;
    font-size: $fontSizeBody;
  }

  //div above overwrote card styling for typography
  h4,
  p,
  svg {
    color: $navy;
  }
}

//temp -- !! please remove when dev done in react
form {
  width: 100%;
}
