//button styling

button,
.btn,
submit {
  margin-bottom: 2rem;
  padding: ($padding / 2.5) ($padding * 1.5);

  text-align: center;

  color: $white;
  border: 2px $blue solid;
  border-radius: $borderRadius;
  background-color: $blue;

  font-family: $serif;
  font-size: $fontSizeSubheader;
  font-weight: bold;

  @include shadow(0, 3px, 6px, rgba($navy, 0.16));
  @include transition(all 0.1s ease-in-out);

  &:hover {
    cursor: pointer;

    border-color: rgba($blue, 0);
    background-color: mix($blue, $navy, 80%);

    @include shadow(0, 1px, 2px, rgba($navy, 0.5));
  }

  &.btn-secondary {
    color: $blue;
    background-color: $white;
    &:hover {
      color: $white;
      border-color: rgba($blue, 0);
      background-color: mix($blue, $navy, 80%);
    }
  }
}

//button container styling
.btnContainer {
  display: flex;
  justify-content: flex-end;

  .btn,
  button,
  submit {
    margin-left: 1rem;
  }
}

//icon button styling

.iconContainer {
  display: flex;

  margin-bottom: 1rem;
  padding: ($padding / 2) 0;

  border-top: 1px rgba($lightGrey, 0.5) solid;
  border-bottom: 1px rgba($lightGrey, 0.5) solid;

  .btn-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;

    width: auto;
    margin: 0;

    color: $navy;
    border-width: 0;
    background-color: transparent;

    font-size: 2rem;

    @include shadow(0, 0, 0, rgba(0, 0, 0, 0));
    justify-items: center;

    &:hover {
      color: $blue;
    }

    label {
      width: auto;

      cursor: pointer;
      text-align: center;

      font-family: $serif;
      font-size: $fontSizeSubheader--small;
      font-weight: normal;
    }
  }
}

//icon button with label
.iconBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  label {
    flex-grow: 0;
    flex-shrink: 0;

    width: auto;
    margin: 0 0.5rem 0 0;
    padding: 0;

    font-family: $serif;
    font-size: $fontSizeSubheader;
  }
  .btn {
    width: 3rem;
    height: 3rem;
    margin: 0;
    padding: 0;

    color: $navy;
    border-width: 0;
  }
}

//add button styling
.addBtnWrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-end;
  h3 {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;

    width: auto;
    margin-right: 1rem;
    margin-bottom: 0rem;
  }

  button {
    display: flex;
    align-content: center;
    justify-content: center;

    width: 2.25rem;
    height: 2.25rem;
    margin-bottom: 0rem;
    padding: 0;

    color: $navy;
    border-color: $white;
    background-color: $white;

    span {
      display: none;
    }

    svg {
      @include transition(all 0.1s ease-in-out);
    }
    &:hover {
      svg {
        color: $white;
      }
    }
  }

  &.disabled {
    cursor: default;

    color: rgba($lightGrey, 0.5);

    button {
      cursor: default;

      color: $extraLightGrey;
      border-color: transparent;
      background-color: rgba($lightGrey, 0.5);

      @include shadow(0, 3px, 6px, rgba($navy, 0.16));

      &:hover {
        cursor: default;

        color: $extraLightGrey;
        border-color: transparent;
        background-color: rgba($lightGrey, 0.5);

        @include shadow(0, 3px, 6px, rgba($navy, 0.16));

        svg {
          color: $extraLightGrey;
        }
      }
    }
  }
}
