//input styling

.form-group {
  position: relative;
  z-index: 9;

  display: flex;
  //overflow: hidden;
  flex-direction: column;

  width: 100%;

  border-radius: $borderRadius $borderRadius 0 0;
  background-color: rgba($white, 0);

  &.required {
    label {
      &:after {
        margin-left: 0.25rem;

        content: '*';

        color: $red;
      }
    }
  }

  input {
    padding: ($padding * 1.75) ($padding * 0.5) ($padding * 0.25);

    border-width: 0;
    border-bottom: 1px $navy solid;
    background-color: $extraLightGrey;
    //color: ($extraLightGrey, 0.5);

    @include transition(all 0.1s ease-in-out);

    &::-webkit-input-placeholder {
      color: $navy;

      @include transition(all 0.1s ease-in-out);
    }

    &::-moz-placeholder {
      color: $navy;

      @include transition(all 0.1s ease-in-out);
    }

    &::-ms-input-placeholder {
      color: $navy;

      @include transition(all 0.1s ease-in-out);
    }

    &::placeholder {
      color: $navy;

      @include transition(all 0.1s ease-in-out);
    }

    &::selection {
      color: $navy;
      background: rgba($blue, 0.5);
    }

    &:hover {
      border-bottom-color: rgba($navy, 0.25);
      outline: none;
      background-color: rgba($extraLightGrey, 0.9);
      //color: rgba($navy, 0.25);

      &::-webkit-input-placeholder {
        color: $lightGrey;
      }

      &::-moz-placeholder {
        color: $lightGrey;
      }

      &::-ms-input-placeholder {
        color: $lightGrey;
      }

      &::placeholder {
        color: $lightGrey;
      }
    }

    &:focus {
      border-bottom: 1px $navy solid;
      outline: none;
    }
  }

  label {
    position: absolute;
    z-index: 30;

    display: flex;
    align-items: center;

    margin-bottom: 0;
    padding: ($padding / 2) ($padding / 2) 0;

    line-height: 1.2;

    > span {
      position: relative;

      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 1;

      .fa-info-circle {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 0.9375rem;
        height: 0.9375rem;
        margin-left: 0.25rem;

        border-radius: 50%;
        background: $blue;

        @include forPhoneOnly {
          justify-content: flex-start;

          width: 100%;
          margin: 0;

          background: transparent;
        }
        &:hover {
          cursor: default;
        }

        &:after {
          content: 'i';

          color: $white;

          font-size: 0.75rem;
          font-weight: $bold;
          font-style: normal;
          font-smooth: auto;

          -webkit-font-smoothing: auto;
          @include forPhoneOnly {
            content: 'more info';

            color: $blue;
          }
        }
      }

      //tooltip styling

      .__react_component_tooltip {
        white-space: pre-line;

        &.type-error {
          max-width: 38rem;
          padding: 1rem;

          opacity: 1;
          color: $navy;
          border-radius: $borderRadius;
          background-color: $white;
          box-shadow: 0 8px 12px rgba($navy, 0.15);

          font-family: $sans;
          font-size: $fontSizeBody;
          font-weight: normal;
          line-height: 1.4;

          @include forPhoneOnly {
            position: relative;

            display: none;

            padding: 0;

            background: transparent;
            box-shadow: 0 0 0 rgba($white, 0);

            &.show {
              top: 0 !important;
              left: 0 !important;

              display: flex;

              width: 100%;
              max-width: 100%;
              margin: 0;

              &:after {
                display: none;
              }
            }
          }

          &.place-right {
            &:after {
              border-right-color: $white;
            }
          }
          &.place-top {
            &:after {
              border-top-color: $white;
            }
          }
        }
      }
    }
  }

  &.error {
    //error message
    > span {
      padding: ($padding / 2) ($padding / 2) 0;

      color: $red;

      font-size: $fontSizeBody;
      font-weight: bold;
    }
    input {
      border-bottom: 1px $red solid;

      @include transition(all 0.1s ease-in-out);

      &:hover {
        border-bottom-color: rgba($red, 0.25);
        outline: none;
        background-color: rgba($extraLightGrey, 0.9);
      }
    }
    label {
      color: $red;
    }
  }

  &.valid {
    > span {
      padding: ($padding / 2) ($padding / 2) 0;

      color: $green;

      font-size: $fontSizeBody;
      font-weight: bold;
    }
    input {
      border-bottom: 1px $green solid;
    }
  }

  //range slider styling

  &.slider {
    z-index: 2;

    label {
      @include forPhoneOnly {
        position: relative;

        align-items: flex-start;
        flex-direction: column;

        width: 100%;
        padding-right: 0;
      }
    }
    .range-wrapper {
      position: relative;
      z-index: -1;

      .range-value {
        position: absolute;
        top: 0;

        width: 100%;

        @include forPhoneOnly {
          top: -2.5rem;
        }

        input {
          width: 100%;

          text-align: center;

          border-bottom-width: 0;
          background-color: transparent;

          font-family: $serif;
          font-size: $fontSizeSubheader--small;
          font-weight: $bold;
        }
      }
      .range-control-wrapper {
        position: relative;

        height: 3.5rem;
        margin-top: 2.5rem;

        @include forPhoneOnly {
          margin-top: 0;
        }

        .range-limit {
          position: absolute;
          &:first-of-type {
            top: 2.5rem;
            left: 0.5rem;
          }
          &:last-of-type {
            top: 2.5rem;
            right: 0.5rem;
          }
        }

        input {
          width: 100%;
        }
      }
      input[type='range'] {
        width: 100%;
        margin: 4.5px 0;
        padding-top: $padding;

        border-bottom-width: 0;
        background-color: transparent;

        -webkit-appearance: none;
      }
      input[type='range']:focus {
        outline: none;
      }
      input[type='range']::-webkit-slider-runnable-track {
        width: 100%;
        height: 11px;

        cursor: pointer;

        border: 0px solid #010101;
        border-radius: 25px;
        background: #1d404e;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0),
          0px 0px 1px rgba(13, 13, 13, 0);
      }
      input[type='range']::-webkit-slider-thumb {
        width: 20px;
        height: 20px;
        margin-top: -4.5px;

        cursor: pointer;

        border: 0px solid rgba(255, 255, 255, 0);
        border-radius: 20px;
        background: #ffffff;
        box-shadow: 1px 1px 7px rgba(29, 64, 78, 0.5),
          0px 0px 1px rgba(36, 79, 97, 0.5);

        -webkit-appearance: none;
      }
      input[type='range']:focus::-webkit-slider-runnable-track {
        background: #000000;
      }
      input[type='range']::-moz-range-track {
        width: 100%;
        height: 11px;

        cursor: pointer;

        border: 0px solid #010101;
        border-radius: 25px;
        background: #1d404e;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0),
          0px 0px 1px rgba(13, 13, 13, 0);
      }
      input[type='range']::-moz-range-thumb {
        width: 20px;
        height: 20px;

        cursor: pointer;

        border: 0px solid rgba(255, 255, 255, 0);
        border-radius: 20px;
        background: #ffffff;
        box-shadow: 1px 1px 7px rgba(29, 64, 78, 0.5),
          0px 0px 1px rgba(36, 79, 97, 0.5);
      }
      input[type='range']::-ms-track {
        width: 100%;
        height: 11px;

        cursor: pointer;

        color: transparent;
        border-color: transparent;
        background: transparent;
      }
      input[type='range']::-ms-fill-lower {
        border: 0px solid #010101;
        border-radius: 50px;
        background: #ffffff;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0),
          0px 0px 1px rgba(13, 13, 13, 0);
      }
      input[type='range']::-ms-fill-upper {
        border: 0px solid #010101;
        border-radius: 50px;
        background: #1d404e;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0),
          0px 0px 1px rgba(13, 13, 13, 0);
      }
      input[type='range']::-ms-thumb {
        width: 20px;
        height: 20px;
        height: 11px;

        cursor: pointer;

        border: 0px solid rgba(255, 255, 255, 0);
        border-radius: 20px;
        background: #ffffff;
        box-shadow: 1px 1px 7px rgba(29, 64, 78, 0.5),
          0px 0px 1px rgba(36, 79, 97, 0.5);
      }
      input[type='range']:focus::-ms-fill-lower {
        background: #1d404e;
      }
      input[type='range']:focus::-ms-fill-upper {
        background: #000000;
      }
    }
  }

  //segmented answer styling

  &.segmented {
    flex-direction: column; //js added

    margin-bottom: 2rem;

    background-color: transparent;

    label {
      position: relative; //js added
      z-index: 20;

      margin-bottom: 1.5rem;

      font-family: $serif;
      font-size: $fontSizeSubheader--small;
    }

    .segmented-answer-wrapper {
      z-index: 10;

      display: flex;
      overflow: hidden;
      //@extendsborder-radius: $borderRadius;
      //background-color: $white;

      @include shadow(0, 3px, 6px, rgba($navy, 0.16));
      > div {
        overflow: hidden;
      }

      div {
        display: flex;
        align-items: center;
        flex-grow: 1;
        flex-shrink: 1;

        border-right: 1px $lightGrey solid;
        background-color: $white;

        @include transition(all 0.1s ease-in-out);

        &:hover {
          label {
            cursor: pointer;

            color: $white;
            background-color: mix($blue, $navy, 80%);
          }
        }

        &:last-of-type {
          border-right-width: 0;
          border-radius: 0 $borderRadius $borderRadius 0;

          @include forPhoneOnly {
            border-radius: 0 0 $borderRadius $borderRadius;
          }
        }

        &:first-of-type {
          border-radius: $borderRadius 0 0 $borderRadius;

          @include forPhoneOnly {
            border-radius: $borderRadius $borderRadius 0 0;
          }
        }

        label {
          flex-grow: 1;
          flex-shrink: 1;

          margin-bottom: 0;
          padding: ($padding / 2) ($padding);

          text-align: center;

          font-family: $serif;
          font-size: $fontSizeBase;
          line-height: 1.2;

          span {
            flex-grow: 1;
            flex-shrink: 1;

            width: 100%;
          }

          &.selected {
            color: $white;
            background-color: $navy;
          }
        }
      }
    }
  }
  &.segmented {
    @include forPhoneOnly {
      label {
        position: relative;

        align-items: flex-start;
        flex-direction: column;

        width: 100%;
        padding-right: 0;
      }
      .segmented-answer-wrapper {
        flex-direction: column;

        div {
          overflow: hidden;

          border-right-width: 0;
          border-bottom: 1px $lightGrey solid;

          &:last-of-type {
            border-bottom-width: 0;
          }

          label {
            padding: ($padding * 0.75);
          }
        }
      }
    }
  }

  //toggle styling

  &.switch {
    align-items: center;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 2rem;

    background-color: transparent;

    label {
      position: relative; //js added
      z-index: 10;

      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      justify-content: space-between;

      margin-bottom: 0;

      font-family: $serif;
      font-size: $fontSizeSubheader--small;

      @include forPhoneOnly {
        position: relative;

        align-items: flex-start;
        flex-direction: column;

        width: 100%;
        padding-right: 0;
      }

      span {
        flex-grow: 1;
      }
    }

    .switch-div {
      position: relative;

      flex-grow: 0;
      flex-shrink: 0;

      width: 3.25rem;
      height: 1.5rem;
      margin: 0.225rem 0.375rem 0.225rem 0;

      cursor: pointer;
      -webkit-transition: 0.4s;
      transition: 0.4s;

      border-radius: 0.75rem;
      background: $lightGrey;

      &:before {
        position: absolute;
        z-index: 2;
        top: -0.125rem;

        width: 1.75rem;
        height: 1.75rem;

        content: '';
        -webkit-transition: 0.4s;
        transition: 0.4s;

        border-radius: 50%;
        background-color: $white;

        line-height: 1;

        @include shadow(0, 3px, 6px, rgba($navy, 0.16));
      }

      &.active {
        background: $blue;

        &:before {
          right: 1.9rem;

          -webkit-transform: translateX(2rem);
          -ms-transform: translateX(2rem);
          transform: translateX(2rem);
        }
        &.disabled {
          background-color: $lightGrey;
          &:after {
            color: $darkGrey;
          }
        }
      }
    }
  }
  &.shareSwitch {
    @include forPhoneOnly {
      label {
        font-size: $fontSizeSubheader--small;
      }
    }
  }
}

//type ahead styling

.type-ahead {
  overflow: visible;
  label {
    position: relative;
  }
  .TypeAhead {
    color: $navy;

    font-family: $serif;
    font-weight: $bold;

    .react-select__menu {
      .react-select__menu-list {
        z-index: 10;

        max-height: 12rem;
        .react-select__option {
          cursor: pointer;
          &:hover {
            background-color: rgba($blue, 0.25);
          }

          &.react-select__option--is-selected {
            background-color: $blue;
          }

          &.react-select__option--is-focused {
            background-color: rgba($blue, 0.25);

            &.react-select__option--is-selected {
              color: $navy;
            }
          }
        }
      }
    }

    .react-select__control {
      border-color: rgba($navy, 0.5);

      &:hover {
        cursor: pointer;
      }

      .react-select__placeholder {
        color: rgba($navy, 0.3);

        font-weight: $normal;
      }

      &.react-select__control--is-focused {
        border-color: $blue;
        box-shadow: 0 0 0 1px $blue;
      }
    }
  }
}

//type ahead in well directly following a switch - implies switch will controll well
.switch {
  + .well {
    .form-group {
      &.type-ahead {
        label {
          display: none;
        }
      }
    }
  }
}

//other styling

hr {
  flex-grow: 1;
  flex-shrink: 1;

  height: 1px;
  margin: 2rem 0 0.5rem 0;
  padding-top: 0;
  padding-bottom: 0;

  background-color: $lightGrey;
}
