.infoBar {
  display: flex;
  background-color: $blue;
  color: $white;
  padding: ($padding * 1.5) ($padding * 1.5);
  overflow: hidden;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  border-radius: $borderRadius;
  align-items: center;

  h2 {
    width: auto;
    margin-bottom: 0;
  }
  span {
    font-weight: bold;
    font-family: $serif;
    label {
      width: auto;
      font-weight: normal;
      padding-top: 0;
    }
  }
}
