//card styling

.card {
  display: flex;
  overflow: hidden;
  flex-direction: column;

  width: 100%;
  height: auto;
  margin-bottom: 1rem;

  border-radius: $borderRadius;
  background-color: $white;

  @include shadow(0, 3px, 6px, rgba($navy, 0.16));
  @include transition(all 0.1s ease-in-out);

  .btn,
  button,
  a {
    cursor: pointer;
  }

  &.selected {
    footer {
      .btn,
      button {
        cursor: default;

        @include shadow(0, 0, 0, rgba($white, 0));
        &:hover {
          background-color: $blue;
        }
      }
    }

    header {
      color: $white;
      background-color: $blue;
    }
  }
  > header {
    height: auto;
    padding: $padding $padding 0 $padding;

    text-align: center;

    font-family: $serif;

    h4 {
      margin-bottom: 0.5rem;
    }
  }

  .cardContent {
    flex-grow: 1;
    flex-shrink: 1;

    padding: ($padding / 2) $padding ($padding / 2) $padding;

    h4 {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;

      font-family: $serif;
    }
    p {
      margin-bottom: 0;
    }
  }

  > footer {
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;

    .btn,
    button {
      width: 100%;
      margin: 0;

      border-radius: 0 0 $borderRadius $borderRadius;
    }
  }
}
