.infoBar {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding: $padding;

  color: $white;
  border-radius: $borderRadius;
  background-color: $blue;

  p {
    flex-direction: column-reverse;

    width: auto;
    margin-bottom: 0;

    font-family: $serif;
  }

  h2 {
    width: auto;
    margin-bottom: 0;

    font-size: $fontSizeSubheader;
    font-weight: normal;
  }

  span {
    font-family: $serif;
    font-weight: bold;

    label {
      width: auto;
      padding-top: 0;

      font-weight: normal;
    }
  }

  label {
    display: flex;
    justify-content: flex-end;

    width: auto;
    margin-bottom: 0;

    font-weight: normal;
  }
}
