.view-grid {
  //underwriting errors styling {
  .underwritingExceptions {
    flex-grow: 1;
    flex-shrink: 0;

    ~ div {
      display: none;
    }
    //underwriting review error
    .UWReview {
      padding: 0;
      .subtitle {
        flex-direction: column;
        justify-content: flex-start;
        strong {
          display: block;

          margin-bottom: 0.25rem;
        }
      }
    }

    //underwriting fatal error
    .UWFatal {
      padding: 0;
    }
  }
}

.appError {
  margin-left: 8.5em;
  padding-top: ($padding * 1.5);
  padding-right: calc(((100vw - 102rem) / 2) + 30rem);
  padding-left: calc((100vw - 102rem) / 2);

  .title {
    font-family: $serif;
    font-size: $fontSizeHeader;
    font-weight: $bold;
  }
}

//TODO - app error - I am not sure which is correct but pulled this styling from view-grid - 12.09.19 AB
.appError {
  margin: 0;
  padding: 0;
}
