//consumer view grid styling

.view-grid {
  width: 100%;
  .form-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 0;
  }

  .switch {
    margin-bottom: 0;
  }

  //title for headers
  .title {
    margin: 0;
  }

  .searchInputWrapper {
    p {
      margin-top: 0.5rem;
    }
  }

  section {
    overflow: hidden;
    margin: 0 -1rem;

    label {
      padding-top: ($padding / 4);
      padding-bottom: 0;
      margin-bottom: 0;
    }

    p {
      padding-top: ($padding / 4);
      padding-bottom: 0;
      margin-bottom: 0.5rem;
    }

    .form-footer {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding-top: 0;
    }
  }

  //quote number infomation bar
  .infoBar {
    width: 100%;
    margin: 1rem 0 0 0;
    padding: $padding;
    display: flex;

    h2 {
      label {
        margin-bottom: 0;
        font-size: $fontSizeSubheader--small;
      }
    }

    p {
      margin-bottom: 0;
      flex-direction: column-reverse;
      width: auto;
      font-family: $serif;
    }
  }

  //results modal styling
  .modal {
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($black, 0.54);
    z-index: 10;
    padding-left: calc((100vw - 102rem) / 2);
    padding-right: calc(((100vw - 102rem) / 2) + 32rem);
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: flex-start;

    .card {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      width: 100%;
      margin-left: 16rem;

      &:hover {
        transform: none;
      }

      .cardContent {
        padding: $padding;
      }

      .card-header {
        display: flex;
        background-color: $blue;
        color: white;
        padding: $padding;
        font-size: $fontSizeBase;
        font-family: $serif;
        font-weight: $bold;
      }

      .card-footer {
        display: flex;
        flex-direction: row-reverse;
        padding: $padding $padding 0 $padding;

        button {
          margin-left: 1rem;
        }

        span {
          font-size: 1000px;
          svg {
            &.fa-chevron {
            }
          }
        }
      }
    }

    //for phone
    @include forPhoneOnly {
      .card {
        margin-left: 0;
      }
    }
  }
}

//retrieve quote styling
.retrieveQuoteWrapper {
  padding: 0 1rem 1rem 0;
  width: 100%;

  .form-group {
    margin-bottom: 1rem;
  }

  h1 {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .form-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;

    button {
      margin-left: 1rem;
    }
  }
}

//view grid styling from harmony
.view-grid {
  display: flex;
  flex-wrap: wrap;
}

.view-grid {
  > * {
    padding: $padding;
    width: 100%;
  }
}
// TITLE component

.title {
  margin: 0.5rem 0;
  padding: ($padding / 2) $padding;
  width: 100%;
  color: $navy;
  font-size: $fontSizeHeader;
  font-family: $serif;
  font-weight: bold;

  @include forPhoneOnly {
    font-size: $fontSizeSubheader--small;

    .fa {
      font-size: $fontSizeSubheader--small;
    }
  }

  .fa {
    font-size: $fontSizeSubheader--small;
  }
}
// SECTION componet

.view-grid {
  section {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  section {
    display: flex;

    > * {
      padding: $padding;
    }
  }
}

// responsize styles
@supports (display: grid) {
  @include forPhoneOnly {
    .view-grid,
    .view-grid section {
      .view-col-1,
      .view-col-10,
      .view-col-11,
      .view-col-2,
      .view-col-3,
      .view-col-4,
      .view-col-5,
      .view-col-6,
      .view-col-7,
      .view-col-8,
      .view-col-9 {
        width: 100%;
      }
    }
    .view-grid {
      > div {
        padding: $padding * 2;
      }
      > section > dl {
        padding: 0 ($padding * 2);
      }
    }
  }
}
