//consumer view grid styling

.view-grid {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;

  width: 100%;
  padding: $padding $padding 0 ($padding * 1.5);

  //scroll area (does not scroll - scrolls on main"
  // todo

  #modal-anchor {
    position: absolute;
    right: 0;
    left: 0;
  }
  .scroll {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .modal {
    position: fixed;
    z-index: 200;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    animation: modal-fade 0.35s cubic-bezier(0.39, 0.575, 0.565, 1) both;

    background-color: rgba($white, 0.95);

    .card {
      //position: absolute;
      //top: 5.75rem;
      //bottom: 5.75rem;
      width: 60vw;
      max-width: 48rem;
      max-height: 80vh;
      margin: 6.5rem 0 0;

      animation: slide-top 0.65s ease-in-out both;

      background-color: transparent;
      box-shadow: none;

      &.error,
      &.oops {
        flex-direction: column;
        .congratsCardFooter {
          z-index: 100;

          display: flex;
          flex-direction: row;
          justify-content: center;

          a {
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;

            cursor: pointer;

            color: $navy;

            font-family: $serif;
            font-size: 14px;
            font-weight: $bold;

            &.contactSite {
              justify-content: flex-end;
            }

            &.contactEmail {
              justify-content: center;
            }

            svg {
              display: flex;
              align-self: center;
            }
          }
        }
        &.fade-in {
          #sendQuoteSummary {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: 1;

            .card-footer {
              flex-grow: 0;
              flex-shrink: 0;
            }
          }
        }

        .card-block {
          color: $navy;

          line-height: 1.4;
        }

        &:hover {
          cursor: default;

          box-shadow: none;
        }
      }

      .card-block {
        overflow-x: hidden;
        overflow-y: auto;

        padding: 1rem 1.5rem 1rem;

        border-top-left-radius: 0.375rem;
        border-top-right-radius: 0.375rem;
        background-color: white;
        box-shadow: inset 0 3px 6px rgba(29, 64, 78, 0.16);

        ul {
          li {
            font-weight: $bold;
          }
        }

        p {
          margin-bottom: 0.5rem;
        }
      }

      .card-footer {
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;

        a {
          display: flex;
          flex-grow: 1;
          flex-shrink: 1;
          justify-content: center;

          margin-bottom: 0;
          margin-left: 0;

          text-transform: capitalize;

          &.btn {
            &.btn-secondary {
              border-top-left-radius: 0;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
              border-bottom-left-radius: $borderRadius;
            }
          }
        }

        button,
        a {
          display: flex;
          flex-grow: 1;
          flex-shrink: 1;
          justify-content: center;

          margin-bottom: 0;
          margin-left: 0;

          text-transform: capitalize;

          &.btn {
            &.btn-primary {
              border-top-left-radius: 0;
              border-top-right-radius: 0;
              border-bottom-right-radius: $borderRadius;
              border-bottom-left-radius: 0;
            }

            &.btn-secondary {
              border-top-left-radius: 0;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
              border-bottom-left-radius: $borderRadius;
            }
          }
        }

        .btn-group {
          display: flex;
          flex-grow: 1;
          flex-shrink: 1;

          .btn {
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;
            justify-content: center;

            margin-bottom: 0;
            margin-left: 0;

            text-transform: capitalize;

            &.btn-primary {
              border-top-left-radius: 0;
              border-top-right-radius: 0;
              border-bottom-right-radius: $borderRadius;
              border-bottom-left-radius: 0;
            }

            &.btn-secondary {
              border-top-left-radius: 0;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
              border-bottom-left-radius: $borderRadius;
            }
          }
        }
      }

      .card-header {
        a {
          position: absolute;
          top: 0;
          right: 16px;

          display: flex;
          flex-direction: row-reverse;

          font-size: 2rem;
        }

        h4 {
          text-align: center;

          font-family: $serif;
          font-size: $fontSizeHeader;
        }
      }

      form {
        overflow: hidden;
        flex-grow: 1;
        flex-shrink: 1;

        .card-block {
          overflow-x: hidden;
          overflow-y: auto;

          padding: $padding $padding * 1.5 $padding;

          border-top-left-radius: $borderRadius;
          border-top-right-radius: $borderRadius;
          background-color: $white;

          @include forDatePicker {
            flex-grow: 1;
            flex-shrink: 1;
          }
          @include shadow(0, 3px, 6px, rgba($navy, 0.16), $inset: true);

          .flex-form {
            display: flex;
            overflow: hidden;
            flex-direction: column;

            .form-group {
              margin-right: 1rem;

              select {
                height: 1.5rem;

                color: $navy;
                border-width: 0;
                background-color: $extraLightGrey;

                font-size: $fontSizeBody;
              }
            }
            &:last-of-type {
              margin-right: 0;
            }
          }
        }

        .form-group {
          &.type-ahead {
            z-index: 100;

            overflow: visible;

            .react-select__menu-list {
              max-height: 35vh;
            }
          }

          &.order {
            &.select {
              border-bottom: 1px solid $navy;
              background-color: $extraLightGrey;
              label {
                position: relative;

                margin-bottom: 0;
              }

              select {
                height: 1rem;

                color: $navy;
                border-width: 0;

                font-size: $fontSizeBody;
              }
            }
          }
        }
      }

      .card-footer {
        .btn-group {
          display: flex;
          flex-grow: 1;
          flex-shrink: 1;
          .btn {
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;
            justify-content: center;

            margin-bottom: 0;
            margin-left: 0;

            text-transform: capitalize;

            &.btn-primary {
              border-top-left-radius: 0;
              border-top-right-radius: 0;
              border-bottom-right-radius: $borderRadius;
              border-bottom-left-radius: 0;
            }

            &.btn-secondary {
              border-top-left-radius: 0;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
              border-bottom-left-radius: $borderRadius;
            }
          }
        }
      }
    }
  }

  .share {
    overflow: hidden;

    .card-block {
      overflow-x: hidden;
      overflow-y: auto;

      padding: $padding $padding * 1.5 $padding;

      border-top-left-radius: $borderRadius;
      border-top-right-radius: $borderRadius;
      background-color: $white;

      @include shadow(0, 3px, 6px, rgba($navy, 0.16), $inset: true);

      .form-group {
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    .card-footer {
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      .btn {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: center;

        margin-bottom: 0;
        margin-left: 0;

        text-transform: capitalize;

        &.btn-primary {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: $borderRadius;
          border-bottom-left-radius: 0;
        }

        &.btn-secondary {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: $borderRadius;
        }
      }
    }
  }

  .card {
    //thank you page
    &.thankYouCard {
      position: relative;

      align-self: center;
      flex-grow: 0;
      flex-shrink: 0;

      margin: 0 auto;
      padding: ($padding * 2) ($padding * 2) $padding;
      //width: 34rem;
      .quoteNumber {
        text-align: center;
      }

      label {
        z-index: 1;

        padding-top: $padding;

        text-align: center;

        color: $navy;

        font-family: $serif;
        font-size: $fontSizeHeader;
      }

      .confettiWrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      .thankYouCircle {
        position: absolute;
        z-index: 0;
        top: -2.5rem;
        right: calc(50% - 32rem);

        width: 64rem;

        svg {
          filter: drop-shadow(0px 8px 12px rgba($navy, 0.5));
          fill: $navy;
        }
      }

      .thankYouIcon {
        z-index: 1;

        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;

        animation-name: tada;
        animation-duration: 1.5s;
        animation-delay: 2s;

        color: white;

        font-size: 10rem;

        svg {
          width: 15rem;
          height: 15rem;

          filter: drop-shadow(0px 8px 12px rgba(29, 64, 78, 0.25));
          fill: $white;
        }
      }

      a {
        z-index: 21;

        text-align: center;
      }
    }
    //congratulations
    &.congratsCard {
      position: relative;

      align-self: center;
      flex-grow: 0;
      flex-shrink: 0;

      margin: 0 auto;
      padding: ($padding * 2) ($padding * 2) $padding;

      label {
        z-index: 20;
        z-index: 1;

        padding-top: $padding;

        text-align: center;

        color: $navy;

        font-family: $serif;
        font-size: $fontSizeHeader;
      }
      .confettiWrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      .congratsCircle {
        position: absolute;
        z-index: 0;
        top: -6rem;
        right: -8rem;
        left: -8rem;

        width: 54rem;

        svg {
          filter: drop-shadow(0px 8px 12px rgba($navy, 0.5));
          fill: $navy;
        }
      }

      .congratsCardFooter {
        z-index: 100;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        a {
          cursor: pointer;
        }
      }

      .congratsIcon {
        z-index: 1;

        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;

        animation-name: tada;
        animation-duration: 1.5s;
        animation-delay: 2s;

        color: white;

        font-size: 10rem;

        svg {
          width: 15rem;
          height: 15rem;

          filter: drop-shadow(0px 8px 12px rgba(29, 64, 78, 0.25));
          fill: $white;
        }
      }
    }
  }

  //policyholder info styling
  .policyHolderInfo {
    margin-bottom: 0.5rem;
    h4 {
      margin-bottom: 0.5rem;
      padding-top: ($padding / 2);
    }
    .card {
      flex-direction: row;

      .cardContent {
        h4 {
          margin-bottom: 0;
          padding-top: 0;
        }
      }

      a {
        //padding: ($padding/2) $padding ($padding/2) ($padding/2);
        margin-left: 1rem;
        //height: 2rem;

        svg {
          align-content: center;
        }
      }

      .cardFooter {
        margin: 0;
        padding: $padding;

        a {
          &:hover {
            color: $blue;
          }
        }
      }
    }
    .form-group {
      &.policyHolder {
        &.radio {
          &.segmented {
            overflow: visible;
            flex-direction: row;

            margin-bottom: 1rem;

            .group-label {
              margin-bottom: 0.5rem;
            }
            label {
              flex-grow: 1;
              flex-shrink: 1;

              font-size: $fontSizeSubheader--small;
            }

            .segmented-answer-wrapper {
              align-self: flex-start;
              flex-grow: 1;
              flex-shrink: 1;

              width: 6rem;
              margin-top: 0.5rem;

              border-radius: $borderRadius;
              label {
                padding: $padding/2;

                font-size: $fontSizeBase;
              }
            }
          }
        }
      }
    }
  }

  //address section
  .addressSection {
    margin-bottom: 0.5rem;

    &.error {
      span {
        color: $red;
      }
    }
    h4 {
      margin-bottom: 0.5rem;
      padding-top: ($padding / 2);
    }

    .card {
      flex-direction: row;

      .cardContent {
        h4 {
          margin-bottom: 0;
          padding-top: 0;
        }
      }

      .cardFooter {
        display: flex;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;
        justify-content: center;

        padding: $padding;
        a {
          margin-left: 1rem;
        }
      }
    }

    .form-group {
      &.mailingSameAsProperty {
        &.radio {
          &.segmented {
            overflow: visible;
            flex-direction: row;

            margin-bottom: 1rem;

            .group-label {
              margin-bottom: 0.5rem;
            }

            label {
              flex-grow: 1;
              flex-shrink: 1;

              font-size: $fontSizeSubheader--small;
            }

            .segmented-answer-wrapper {
              align-self: flex-start;
              flex-grow: 1;
              flex-shrink: 1;

              width: 6rem;
              margin-top: 0.5rem;

              border-radius: $borderRadius;
              label {
                padding: $padding/2;

                font-size: $fontSizeBase;
              }
            }
          }
        }
      }
    }

    .well {
      &.hide {
        display: none;
      }
    }
  }
  //additional info styling
  .additionalInfo {
    .card {
      flex-direction: row;
      p {
        padding: ($padding / 4) 0;

        line-height: 1.4;
      }

      a {
        padding: ($padding/2) $padding 0 ($padding/2);

        svg {
          align-content: center;
        }
      }
    }
    .form-group {
      &.additionalInterest {
        &.radio {
          &.segmented {
            flex-direction: row;

            margin-bottom: 0;

            .group-label {
              margin-bottom: 0.5rem;
            }
            label {
              flex-grow: 1;
              flex-shrink: 1;

              font-size: $fontSizeSubheader--small;
            }
            .segmented-answer-wrapper {
              align-self: flex-start;

              width: 6rem;
              margin-top: 0.5rem;

              border-radius: $borderRadius;
              label {
                padding: $padding/2;

                font-size: $fontSizeBase;
              }
            }
          }
        }
      }
      //open helpful info on this page since additional interests is very complex
      label {
        align-items: flex-start;
        flex-direction: column;
        span {
          //max-width: 30rem;
          i {
            display: none;
          }
          .__react_component_tooltip {
            position: relative;
            top: 0 !important;
            left: 0 !important;

            display: flex;
            visibility: visible;

            width: 100%;
            max-width: 100%;
            padding: 0;

            opacity: 1;
            color: $navy;
            background-color: transparent;

            font-family: $sans;
            font-weight: $normal;
            &:after {
              display: none;
            }

            &.place-right {
              margin-left: 0;
            }
          }
        }
      }
    }

    ul {
      margin: 0 0 1.5rem 0;
      padding: 0;

      li {
        list-style: none;

        .card {
          position: relative;

          display: flex;
          flex-grow: 1;
          flex-shrink: 1;

          a {
            flex-direction: row;
            &.remove {
              font-size: 1rem;
            }

            &.edit {
              font-size: 1rem;
            }
          }

          > div {
            flex-grow: 1;
            flex-shrink: 1;

            padding: ($padding / 2) $padding 0 $padding;

            h4 {
              margin-top: 0.25rem;
              margin-bottom: 0.25rem;

              font-family: $serif;
              font-size: $fontSizeBase;
            }

            p {
              margin-bottom: 0;
            }

            &.card-icon {
              display: none;
            }
          }
        }
      }
    }

    .form-footer {
      margin-top: 1rem;
    }
  }

  //customize quote styling
  .workflow {
    div {
      &.agencySelect {
        label {
          padding-left: 0;
        }
      }
      label {
        padding-left: $padding/2;
      }
      input {
        padding-left: $padding/2;
      }
      &.switch {
        label {
          padding-left: 0;
        }
      }
    }
    .slider-component {
      .form-group {
        label {
          margin-bottom: 1rem;
          padding-left: 0;

          font-family: $serif;
          font-size: $fontSizeSubheader--small;
        }
      }
    }

    .subtitle {
      strong {
        display: block;

        margin-bottom: 0.25rem;
      }
      p {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;

        font-family: $sans;
      }
    }

    //well styling
    // todo
    .well {
      position: relative;

      display: flex;
      overflow: visible;

      margin-top: 0.5rem;
      padding: $padding $padding 0 $padding;

      //results modal styling
      .modal {
        z-index: 100;

        display: flex;

        .card {
          margin: 0;
          padding: 0;

          background-color: transparent;
          box-shadow: 0 0 0 0 rgba($white, 0);

          .card-footer {
            position: unset;

            display: flex;

            margin-top: 0.75rem;

            button {
              margin: 0;
              padding: 0.4rem 1rem;
            }
          }

          .share {
            z-index: 1;
            .card-block {
              margin-top: 0;
              padding: 0;

              .form-group {
                width: 100%;

                color: $navy;

                #toName {
                  background-color: rgba($extraLightGrey, 0.9);
                }

                #toEmail {
                  background-color: rgba($extraLightGrey, 0.9);
                }
              }

              .error {
                span {
                  display: block;

                  width: 100%;
                  height: auto;
                  padding: ($padding / 4) 0 0 ($padding / 2);

                  border-radius: 0;
                  background-color: transparent;
                  box-shadow: none;

                  font-size: $fontSizeBody;
                }
              }
            }
          }

          .card-header {
            h4 {
              display: none;
            }
          }
        }

        .form-group {
          z-index: 14;

          overflow: visible;
        }
      }

      .card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        min-height: 176px;
        padding: 0 $padding;

        background-color: $navy;

        &:hover {
          transform: none;
        }

        .cardContent {
          display: flex;

          padding-left: 150px;

          color: $white;
          background-color: $navy;

          p {
            flex-grow: 1;
            flex-shrink: 1;

            padding-top: $padding;
            padding-left: $padding;

            color: white;

            font-size: $fontSizeBase;
            font-weight: $bold;
            line-height: 1.2;
          }

          span {
            flex-grow: 0;
            flex-shrink: 0;
          }
        }

        .card-header {
          position: absolute;

          display: flex;

          width: 32%;
          padding: $padding;
        }

        .card-footer {
          position: relative;

          display: flex;

          margin-top: 0.75rem;

          button {
            position: absolute;
            right: 0;
            left: 0;

            width: 100%;
            margin: 0;
            padding: 0.4rem 1rem;
          }
        }
        .modalIcons {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 125px;
          height: 125px;
          padding-bottom: 14px;

          border-radius: 50%;
          background-color: $white;
          box-shadow: 0 8px 12px rgba($navy, 0.15);

          font-size: 50px;

          svg {
            color: $red;

            font-size: 80px;
          }
        }
      }
    }
  }

  .form-group {
    margin-bottom: 1rem;

    &.radio {
      &.segmented {
        margin-bottom: 1.5rem;
        &.segmented-answer-wrapper {
          font-size: $fontSizeBase;
          font-weight: $normal;
        }

        > label {
          padding-left: 0;
        }
      }
    }

    label {
      margin-bottom: 1rem;
    }
  }

  footer {
    z-index: 99;

    padding: $padding;

    &.navFooter {
      padding: $padding 0;
    }
  }

  .title {
    margin-bottom: 1rem;

    color: $navy;

    font-family: $serif;
    font-size: $fontSizeHeader;
    font-weight: $bold;
  }

  .form-footer {
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: flex-end;

    width: 100%;
    margin-top: 1rem;

    .btn-primary {
      margin-left: 1rem;
    }
  }

  .switch {
    margin-bottom: 0;
  }

  .searchInputWrapper {
    p {
      margin-top: 0.5rem;
      margin-bottom: 0;
    }

    .property-search {
      margin-bottom: 0.5rem;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;

    //biling specific styling
    &.billing {
      ul {
        padding-left: 0;

        list-style: none;

        li {
          .billingCheckBox {
            align-items: center;

            cursor: pointer;

            .emptyCheckBox {
              display: flex;
              align-items: center;
              justify-content: center;

              width: 1.5rem;
              height: 1.5rem;
              margin-bottom: 1rem;

              border: 2px $navy solid;
              border-radius: $borderRadius;

              svg {
                font-size: 0.875rem;
              }
            }

            .billToId {
              .cardContent {
                align-items: center;
              }
            }

            footer {
              svg {
                margin-bottom: 0;
              }
            }
          }
          .card {
            display: flex;
            flex-direction: row;

            margin-left: 1rem;
            padding: $padding/4;

            footer {
              width: auto;
            }
          }
          div {
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;

            .card {
              margin-right: 1rem;
              padding: 0;

              @include transition(all 0.2s ease-in-out);

              &.payPlan {
                flex-direction: column;
                flex-grow: 0;
                flex-shrink: 1;

                width: 33.33%;
                min-height: 14rem;

                &.selected {
                  .cardContent {
                    color: $navy;
                    background-color: $white;
                  }

                  .card-footer {
                    label {
                      color: $white;
                      background-color: $navy;
                    }
                  }
                }

                .card-header {
                  z-index: 2;

                  flex-grow: 0;
                  flex-shrink: 0;
                  h3 {
                    margin-bottom: 0;
                    padding: ($padding/2) 0 0 0;

                    text-align: center;
                  }
                }
                .card-footer {
                  flex-grow: 0;
                  flex-shrink: 0;

                  transition: box-shadow 0.2s ease-in-out;

                  @include shadow(0px, 0px, 5px, rgba($navy, 0.16));

                  &:hover {
                    @include shadow(0px, 0px, 10px, rgba($blue, 0.5));
                  }

                  label {
                    padding: ($padding/2) 0;

                    text-align: center;

                    color: $navy;
                    background-color: $white;

                    font-family: $serif;

                    &:hover {
                      cursor: pointer;

                      color: $white;
                      background-color: mix($blue, $navy, 80%);
                    }
                  }
                }
                &:hover {
                  cursor: pointer;
                }
                &.selected {
                  label {
                    background-color: $navy;
                    &:hover {
                      cursor: default;

                      background-color: $navy;
                    }
                  }
                }
              }

              &:last-of-type {
                margin-right: 0;
              }

              .cardContent {
                dl {
                  position: relative;

                  display: flex;
                  flex-direction: column;
                  flex-grow: 1;
                  flex-shrink: 1;

                  margin-bottom: 0;

                  div {
                    flex-direction: column;

                    padding-top: ($padding / 2);
                    padding-bottom: ($padding / 4);

                    border-bottom: 1px dashed $navy;

                    &:last-of-type {
                      padding-bottom: ($padding/4);

                      border-bottom: 0;
                    }

                    &.semiCard {
                      flex-grow: 0;
                      flex-shrink: 0;
                    }
                  }
                  dd {
                    margin-bottom: 0.25rem;
                    padding: 0;

                    font-family: $sans;
                    font-size: $fontSizeBase;
                    font-weight: $normal;
                  }
                  label {
                    padding: 0;

                    text-align: center;

                    color: $blue;

                    font-family: $serif;
                    font-size: $fontSizeSubheader--small;
                  }
                }
              }
            }
          }
        }
      }

      &.error {
        h4 {
          margin-bottom: 0.25rem;
        }
        span {
          margin-bottom: 1rem;

          color: $red;

          font-size: $fontSizeLabel;
        }

        ul {
          li {
            .card {
              @include shadow(0, 3px, 6px, rgba($red, 0.16));
              footer {
                svg {
                  color: $red;
                }
              }
            }
          }
        }
      }
    }

    &.results {
      display: flex;
      flex-direction: column;
      flex-grow: 0;
      flex-shrink: 0;

      width: 100%;
      margin: 0;
    }

    label {
      margin-bottom: 0;
      padding-top: ($padding / 4);
      padding-bottom: 0;
    }

    p {
      margin: 0;
      padding-top: ($padding / 4);
      padding-bottom: ($padding / 4);
    }
  }

  //quote number infomation bar
  .infoBar {
    display: flex;

    width: 100%;
    margin-top: 0;
    margin-bottom: 0.5rem;
    padding: $padding;

    h2 {
      font-size: $fontSizeSubheader;
      font-weight: normal;
    }

    label {
      display: flex;
      justify-content: flex-end;

      width: auto;
      margin-bottom: 0;

      font-weight: normal;
    }

    p {
      flex-direction: column-reverse;

      width: auto;
      margin-bottom: 0;

      font-family: $serif;
    }
  }

  //retrieve quote styling
  .retrieveQuoteForm {
    flex-grow: 1;
    flex-shrink: 0;
    .retrieveQuoteWrapper {
      display: flex;
      flex-direction: column;
      flex-grow: 0;
      flex-shrink: 0;

      width: 100%;
      padding: 0 0 0.5rem 0;

      h1 {
        margin-bottom: 0;
        padding-bottom: 0;
      }

      .form-footer {
        display: flex;
        justify-content: flex-end;

        width: 100%;
        margin-top: 1rem;

        :disabled {
          color: $extraLightGrey;
          border-color: transparent;
          background-color: rgba($navy, 0.3);
        }

        button {
          margin-left: 1rem;
        }
      }
    }
  }

  //app error
  .appError {
    margin: 0;
    padding: 0;
  }

  .fa {
    font-size: $fontSizeSubheader--small;
  }

  // SECTION componet

  section {
    display: flex;
    flex-wrap: wrap;
  }

  section {
    display: flex;
  }
}

//policyholder modal styling
.policyholderModal {
  h4 {
    position: relative;

    margin-bottom: 4rem;
  }

  p {
    position: absolute;
    top: 3rem;
    left: calc(50% - 20rem);

    width: 40rem;

    text-align: center;

    font-family: $sans;
    font-size: $fontSizeBody;
    font-weight: $normal;
  }
}

// responsize styles
@supports (display: grid) {
}

//trophy animation
@keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  10%,
  20% {
    -webkit-transform: scale(0.9) rotate(-8deg);
    transform: scale(0.9) rotate(-8deg);
  }

  30%,
  50%,
  70% {
    -webkit-transform: scale(1.3) rotate(8deg);
    transform: scale(1.3) rotate(8deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale(1.3) rotate(-8deg);
    transform: scale(1.3) rotate(-8deg);
  }

  90%,
  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

//confetti

[class|='confetti'] {
  position: absolute;
}
$colors: $blue, $red, $green, $navy, gold;
@for $i from 0 through 550 {
  $w: random(8);
  $l: random(100);
  .confetti-#{$i} {
    top: -10%;
    left: unquote($l + '%');

    width: #{$w}px;
    height: #{$w * 0.4}px;

    transform: rotate(#{random() * 360}deg);
    animation: drop-#{$i}
      unquote(4 + random() + 's')
      unquote(random() + 's')
      infinite;

    opacity: random() + 0.5;
    background-color: nth($colors, random(5));
  }
  @keyframes drop-#{$i} {
    100% {
      top: 110%;
      left: unquote($l + random(15) + '%');
    }
  }
}

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */

@keyframes slide-top {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes modal-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//date picker styling

.datePicker {
  z-index: 100;

  padding-top: 0.5rem;

  .form-group {
    //overflow: visible;

    &.effectiveDate {
      flex-direction: row;
      flex-wrap: wrap;
      &.datePicker {
        display: flex;
        justify-content: flex-end;
        label {
          position: relative;
          z-index: 1;

          display: flex;
          flex-grow: 1;
          flex-shrink: 1;

          width: auto;
          margin-bottom: 0;
          padding-bottom: ($padding * 0.25);
          padding-left: 0;

          font-family: $serif;
          font-size: $fontSizeSubheader--small;
        }
        .react-datepicker-wrapper {
          .react-datepicker__input-container {
            input {
              width: 9rem;
              padding-top: $padding/2;
              padding-right: 0;
              padding-bottom: $padding/2;
              padding-left: $padding/2;

              cursor: pointer;

              border: 1px $navy solid;
              border-radius: $borderRadius;
              background-color: $white;
              background-image: url('../img/datePicker.svg');
              background-repeat: no-repeat;
              background-position-x: right;
              background-position-y: center;

              font-family: $serif;
              font-weight: $bold;
            }
          }
        }

        .react-datepicker-popper {
          z-index: 2;
          > div {
            .react-datepicker {
              width: 31rem;

              border: none;
              box-shadow: 0 8px 12px rgba($navy, 0.15);

              @include forDatePicker {
                width: 16rem;
              }

              .react-datepicker__triangle {
                right: 4rem;
                left: auto;

                border-bottom-color: $blue;
              }
              .react-datepicker__navigation {
                margin-bottom: 0;

                border-radius: 0;
                box-shadow: none;
                &:hover {
                  background-color: transparent;
                }
                &.react-datepicker__navigation--next {
                  border-left-color: $white;
                }
                &.react-datepicker__navigation--previous {
                  border-right-color: $white;
                }
              }

              .react-datepicker__month-container {
                width: 50%;

                @include forDatePicker {
                  width: 100%;
                }
                .react-datepicker__header {
                  border-bottom-width: 0;
                  border-top-right-radius: 0;
                  background-color: $blue;

                  @include forDatePicker {
                    border-top-right-radius: $borderRadius;
                  }
                  .react-datepicker__current-month {
                    color: white;

                    font-family: $serif;
                    font-size: $fontSizeSubheader--small;
                  }
                  .react-datepicker__day-names {
                    .react-datepicker__day-name {
                      color: $white;
                    }
                  }
                }
                ~ .react-datepicker__month-container {
                  @include forDatePicker {
                    display: none;
                  }
                  .react-datepicker__header {
                    border-top-left-radius: 0;
                    border-top-right-radius: $borderRadius;
                  }
                }

                .react-datepicker__month {
                  .react-datepicker__week {
                    .react-datepicker__day {
                      color: $navy;

                      &:hover {
                        background-color: rgba($navy, 0.1);
                      }

                      &.react-datepicker__day--disabled {
                        color: rgba($navy, 0.3);

                        &:hover {
                          background: transparent;
                        }
                      }

                      &.react-datepicker__day--selected {
                        color: $white;
                        background-color: $blue;
                      }

                      &.react-datepicker__day--today {
                        color: rgba($navy, 0.5);
                        border-radius: 0.3rem;
                        background-color: $extraLightGrey;

                        &:hover {
                          color: rgba($navy, 0.5);
                          border-radius: 0.3rem;
                          background-color: $extraLightGrey;
                        }
                      }

                      &.react-datepicker__day--outside-month {
                        color: $white;

                        &:hover {
                          cursor: default;

                          background-color: transparent;
                        }

                        &.react-datepicker__day--selected {
                          color: $white;
                          background-color: $white;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
