/*IMPORT ALL SCSS PARTIALS*/

header {
    display: flex;
    width: 100%;
}

div[role="main"] {
    display: flex;
    width: 100%;
    nav {
        flex-grow: 0;
        flex-shrink:0;
    }

    .view-grid {
        flex-grow: 1;
        flex-shrink: 1;
    }
}

footer {
    display: flex;
    width: 100%;
}



//00_settings
@import '00_settings/settings_colors';
//01_tools

//02_generic

//03_elements

//04_objects

//05_moduals

//06_components

//07_theme

//08_utilities