//element structure

//main layout
.harmony-consumer {
  display: flex;
  flex-direction: column;
  height: 100vh;

  //element layout

  //header layout
  > header {
    z-index: 100;
    height: 4rem;
    background-color: $white;

    @include shadow(0px, 3px, 5px, rgba($navy, 0.16));

    div[role='banner'] {
      max-width: 85.375rem;
      width: 100%;
      .logo {
        flex-grow: 0;
        flex-shrink: 0;
        margin-left: 6.5rem;
        width: 6.5rem;
        height: auto;

        @include forPhoneOnly {
          margin-left: 0;
        }
      }

      div[role='contentinfo'] {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: flex-end;
      }
    }
  }

  div[role='region'] {
    width: 100%;
    overflow: hidden;
    //nav for phone

    @include forPhoneOnly {
      nav[role='navigation'] {
        position: fixed;
        top: 0;
        bottom: 0;
        padding: ($padding * 4) $padding 0;
        width: 15rem;
        background-color: $white;

        @include shadow(6px, 3px, 6px, rgba($navy, 0.16));
        > ul {
          margin-top: 2rem;

          li {
            a {
              flex-direction: row-reverse;

              h3 {
                margin: 0 0 0 1rem;
                text-align: left;
              }
              p {
                margin-right: 0;
                margin-left: 7px;
                padding: 0 0 0 1.5625rem;
                border-right: none;
                border-left: 2px $navy solid;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }

  nav[role='navigation'] {
    z-index: 10;
    flex-grow: 0;
    flex-shrink: 0;
    /*
    width: calc(((100vw - 85.375rem) / 2) + 14.5rem);
    padding-left: calc((100vw - 85.375rem) / 2); */
    overflow-y: auto;
    width: 15rem;
  }

  main[role='main'] {
    flex-grow: 1;
    flex-shrink: 1;
    overflow-x: hidden;
    overflow-y: auto;
    /*
    padding: ($padding * 1.5) (calc((100vw - 86.375rem) / 2)) $padding $padding;
    width: calc(((100vw - 86.375rem) / 2) + 70.875rem); */
    max-width: 52rem;
    padding: ($padding * 1.5) ($padding * 1.5) ($padding * 1.5) $padding;

    //mobile styling
    @include forPhoneOnly {
      padding: $padding 2rem;
    }
  }
  @include forMinWidth {
    nav[role='navigation'] {
      padding-left: $padding;
    }

    main[role='main'] {
      padding-right: ($padding * 1.5);
    }
  }
}
