//element structure

//main layout
.harmony-consumer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

div[role='region'] {
  width: 100%;
  max-width: 85.375rem;
  margin: 0 auto;

  nav[role='navigation'] {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    width: 13.5rem;
  }

  main[role='main'] {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
  }
}

//element layout

//header layout
header {
  @include shadow(0px, 3px, 5px, rgba($black, 0.16));

  div[role='banner'] {
    width: 100%;
    max-width: 85.375rem;
    margin: 0 auto;
    .logo {
      margin-left: 5.5rem;
      width: 6.5rem;
      height: auto;
      flex-grow: 0;
      flex-shrink: 0;
      @include forPhoneOnly {
        margin-left: 0;
      }
    }

    div[role='contentinfo'] {
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      justify-content: flex-end;
    }
  }
}
