//confetti animation

[class|='confetti'] {
  position: absolute;
}
$colors: $blue, $red, $green, $navy, gold;
@for $i from 0 through 550 {
  $w: random(8);
  $l: random(100);
  .confetti-#{$i} {
    top: -10%;
    left: unquote($l + '%');

    width: #{$w}px;
    height: #{$w * 0.4}px;

    transform: rotate(#{random() * 360}deg);
    animation: drop-#{$i}
      unquote(4 + random() + 's')
      unquote(random() + 's')
      infinite;

    opacity: random() + 0.5;
    background-color: nth($colors, random(5));
  }
  @keyframes drop-#{$i} {
    100% {
      top: 110%;
      left: unquote($l + random(15) + '%');
    }
  }
}

//trophy animation
@keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  10%,
  20% {
    -webkit-transform: scale(0.9) rotate(-8deg);
    transform: scale(0.9) rotate(-8deg);
  }

  30%,
  50%,
  70% {
    -webkit-transform: scale(1.3) rotate(8deg);
    transform: scale(1.3) rotate(8deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale(1.3) rotate(-8deg);
    transform: scale(1.3) rotate(-8deg);
  }

  90%,
  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}
