//color definitions
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$extraLightGrey: rgba(247, 247, 247, 1);
$lightGrey: rgba(170, 176, 187, 1);
$darkGrey: rgba(112, 112, 112, 1);
$blue: rgba(42, 157, 216, 1);
$navy: rgba(29, 64, 78, 1);
$green: rgba(121, 192, 67, 1);
