//search address search bar styling
.searchInputWrapper {
  position: relative;

  flex-grow: 0;
  flex-shrink: 0;

  width: 100%;
  margin-bottom: 1rem;

  .property-search {
    position: relative;

    margin-bottom: 0.5rem;
  }

  input {
    width: 100%;
  }

  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }

  //search bar button override

  button {
    display: none;
  }
}

//search address footer styling
.searchAddressForm {
  flex-grow: 1;
  flex-shrink: 0;
}

//search address card results
form {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;

  section {
    &.results {
      .card {
        flex-direction: row;

        padding: 0 $padding;

        .cardContent {
          padding: ($padding / 4) 0 ($padding / 4) 0;
        }

        &:hover {
          cursor: pointer;
          transform: scale(0.99);

          @include shadow(0, 1px, 4px, rgba($navy, 0.25));
        }

        footer {
          width: auto;
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  hr {
    flex-grow: 0;
    flex-shrink: 0;
  }

  footer {
    flex-grow: 0;
    flex-shrink: 0;
  }
}
