.Additional.Insured.Details {
  .cardContent {
    flex-direction: column;
    dl {
      dt {
        margin-top: 0;
        margin-bottom: 0.25rem;

        font-size: $fontSizeBase;
      }

      dd {
        label {
          margin-bottom: 0.25rem;
          padding-left: 0;

          font-family: $sans;
          font-size: $fontSizeBase;
          font-weight: $normal;
        }

        a {
          margin-bottom: 1.5rem;
        }

        .card {
          box-shadow: none;

          div {
            h4 {
              margin-top: 0;

              font-family: $sans;
              font-size: $fontSizeBase;
              font-weight: $normal;
            }

            p {
              line-height: 1;
            }
          }
        }
      }
    }
  }
}
