//final congratulations card styling
.card {
  &.congratsCard {
    position: relative;

    align-self: center;
    flex-grow: 0;
    flex-shrink: 0;

    margin: 0 auto;
    padding: ($padding * 2) ($padding * 2) $padding;

    label {
      z-index: 20;
      z-index: 1;

      padding-top: $padding;

      text-align: center;

      color: $navy;

      font-family: $serif;
      font-size: $fontSizeHeader;
    }

    .congratsCardFooter {
      z-index: 100;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      a {
        cursor: pointer;

        color: $blue;
      }
    }
  }
}
