//additional info styling - from view-grid
.additionalInfo {
  .card {
    flex-direction: row;
    p {
      padding: ($padding / 4) 0;

      line-height: 1.4;
    }

    a {
      padding: ($padding/2) $padding 0 ($padding/2);

      svg {
        align-content: center;
      }
    }
  }
  .form-group {
    &.additionalInterest {
      &.radio {
        &.segmented {
          flex-direction: row;

          margin-bottom: 0;

          .group-label {
            margin-bottom: 0.5rem;
          }
          label {
            flex-grow: 1;
            flex-shrink: 1;

            font-size: $fontSizeSubheader--small;
          }
          .segmented-answer-wrapper {
            align-self: flex-start;

            width: 6rem;
            margin-top: 0.5rem;

            border-radius: $borderRadius;
            label {
              padding: $padding/2;

              font-size: $fontSizeBase;
            }
          }
        }
      }
    }
    //open helpful info on this page since additional interests is very complex
    label {
      align-items: flex-start;
      flex-direction: column;
      span {
        //max-width: 30rem;
        i {
          display: none;
        }
        .__react_component_tooltip {
          position: relative;
          top: 0 !important;
          left: 0 !important;

          display: flex;
          visibility: visible;

          width: 100%;
          max-width: 100%;
          padding: 0;

          opacity: 1;
          color: $navy;
          background-color: transparent;

          font-family: $sans;
          font-weight: $normal;
          &:after {
            display: none;
          }

          &.place-right {
            margin-left: 0;
          }
        }
      }
    }
  }

  ul {
    margin: 0 0 1.5rem 0;
    padding: 0;

    li {
      list-style: none;

      .card {
        position: relative;

        display: flex;
        flex-grow: 1;
        flex-shrink: 1;

        a {
          flex-direction: row;
          &.remove {
            font-size: 1rem;
          }

          &.edit {
            font-size: 1rem;
          }
        }

        > div {
          flex-grow: 1;
          flex-shrink: 1;

          padding: ($padding / 2) $padding 0 $padding;

          h4 {
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;

            font-family: $serif;
            font-size: $fontSizeBase;
          }

          p {
            margin-bottom: 0;
          }

          &.card-icon {
            display: none;
          }
        }
      }
    }
  }

  .form-footer {
    margin-top: 1rem;
  }
}
