//policyholder info styling - from view-grid

.policyHolderInfo {
  margin-bottom: 0.5rem;
  h4 {
    margin-bottom: 0.5rem;
    padding-top: ($padding / 2);
  }
  .card {
    flex-direction: row;

    .cardContent {
      h4 {
        margin-bottom: 0;
        padding-top: 0;
      }
    }

    a {
      //padding: ($padding/2) $padding ($padding/2) ($padding/2);
      margin-left: 1rem;
      //height: 2rem;

      svg {
        align-content: center;
      }
    }

    .cardFooter {
      margin: 0;
      padding: $padding;

      a {
        &:hover {
          color: $blue;
        }
      }
    }
  }
  .form-group {
    &.policyHolder {
      &.radio {
        &.segmented {
          overflow: visible;
          flex-direction: row;

          margin-bottom: 1rem;

          .group-label {
            margin-bottom: 0.5rem;
          }
          label {
            flex-grow: 1;
            flex-shrink: 1;

            font-size: $fontSizeSubheader--small;
          }

          .segmented-answer-wrapper {
            align-self: flex-start;
            flex-grow: 1;
            flex-shrink: 1;

            width: 6rem;
            margin-top: 0.5rem;

            border-radius: $borderRadius;
            label {
              padding: $padding/2;

              font-size: $fontSizeBase;
            }
          }
        }
      }
    }
  }
}
