//header styling
header {
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;

  //banner is child element when header needs to act as wrapper
  > div[role='banner'] {
    display: flex;
    align-items: center;
  }
}
