//nav styling
nav[role='navigation'] {
  padding: ($padding * 2) 0 ($padding * 2) ($padding * 1.5);
  margin-right: 1rem;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      a {
        display: flex;
        margin-bottom: 0.75rem;
        align-items: center;
        flex-wrap: wrap;
        h3 {
          flex-grow: 1;
          flex-shrink: 1;
          text-align: right;
          margin: 0 1rem 0 0;
          width: calc(100% - 2rem);
        }
        span {
          background-color: $green;
          color: $white;
          font-size: 0.5rem;
          height: 1rem;
          width: 1rem;
          display: flex;
          border-radius: 50%;
          align-items: center;
          justify-content: center;
          line-height: 1rem;
          flex-grow: 0;
          flex-shrink: 0;
        }
        p {
          width: calc(100% - 7px);
          flex-grow: 0;
          flex-shrink: 0;
          text-align: right;
          padding: 0 ($padding * 1.5625) 0 0;
          margin-bottom: 0;
          line-height: 1.2;
          border-right: 2px $navy solid;
          margin-right: 7px;
          margin-top: 1rem;
          min-height: 12px;
        }
        &.active {
          h3 {
            color: $blue;
          }
          span {
            background-color: $blue;
          }
          p {
            color: $blue;
            border-color: $blue;
          }
        }
        &.disabled {
          h3 {
            color: $lightGrey;
          }
          span {
            background-color: $lightGrey;
          }
          p {
            color: $lightGrey;
            border-color: $lightGrey;
          }
        }
      }
      ul {
        li {
          a {
            span {
              background-color: $navy;
              height: 0.375rem;
              width: 0.375rem;
              margin: 0 0.3125rem;
            }
          }
        }
      }
    }
  }
}
