//nav styling

.navOpener {
  display: none;

  @include forPhoneOnly {
    position: fixed;
    top: 4.5rem;
    z-index: 11;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
    width: 1.75rem;
    height: 2.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: $white;
    svg {
      align-self: center;
    }
  }
}

.navBackground {
  display: none;

  @include forPhoneOnly {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 40;
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: rgba($navy, 0.125);

    svg {
      position: absolute;
      top: 84px;
      right: 24px;
      z-index: 5;
      color: $navy;
    }

    &.hide {
      display: none;
    }
  }
}

nav[role='navigation'] {
  display: flex;
  flex-direction: column;
  min-width: 13rem;

  .propertyAddressWrapper {
    flex-grow: 0;
    flex-shrink: 0;
    padding-top: 2rem;
    p {
      margin: 0;
      text-align: right;

      @include forPhoneOnly {
        text-align: left;
      }
    }
  }

  > ul {
    overflow-x: hidden;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0;
    padding: 1rem 0rem 2rem 0;
    list-style: none;

    > li {
      display: flex;
      align-items: center;
      flex-grow: 1;
      flex-shrink: 1;
      flex-wrap: wrap;
      margin-bottom: 0;
      text-align: right;
      > a {
        padding: 0;
        width: 100%;
        color: $navy;
        cursor: default;

        @include forPhoneOnly {
          flex-direction: row-reverse;
        }

        p {
          margin-top: 0.75rem;
          margin-bottom: 0.75rem;
        }
      }

      //hide styling - hides first level li and children
      &.hide {
        display: none;
      }
      //disabled styling - styles first level li and hides children
      &.disabled {
        cursor: default;
        ul {
          overflow: hidden;
          //display: none;
          max-height: 0;
          opacity: 0;
          //nav animation
          transition: all 0.5s ease-in;
        }

        .application {
          display: none;
        }
        h3 {
          color: $lightGrey;
          cursor: default;
        }
        span {
          background-color: $lightGrey;
          cursor: default;
        }
      }
      //complete styling - styles first level li and children
      &.complete {
        a {
          padding: 0;
          cursor: pointer;
          span {
            background-color: $navy;
            color: $white;
            svg {
              width: 1rem;
              height: 1rem;
            }
          }
        }

        ul {
          overflow: hidden;
          //this is for the nav animation
          //display: none;
          max-height: 0;
          opacity: 0;
          //nav animation
          transition: all 0.5s ease-in;
        }

        ~ li {
          ul {
            transition: all 0.75s ease-in;
            transition-delay: 0.5s;
          }
        }
      }

      a {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;

        h3 {
          flex-grow: 1;
          flex-shrink: 1;
          margin: 0 1rem 0 0;
          width: calc(100% - 2rem);
          text-align: right;
        }
      }

      span {
        display: flex;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;
        justify-content: center;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: $green;
        color: $white;
        font-weight: bold;
        font-size: 0.5rem;
        line-height: 1rem;
        transition: background-color 0.5s ease-in;

        svg {
          width: 1rem;
          height: 1rem;
          background-color: $white;
          color: $green;
        }
      }

      > h3 {
        flex-grow: 1;
        flex-shrink: 1;
        margin: 0 1rem 0 0;
        width: calc(100% - 2rem);
        text-align: right;
        cursor: pointer;
        transition: color 0.5s ease-in;
      }

      p {
        flex-grow: 0;
        flex-shrink: 0;
        margin-top: 0.75rem;
        margin-right: 7px;
        margin-bottom: 0.75rem;
        min-height: 12px;
        width: calc(100% - 7px);
        border-right: 2px $navy solid;
        text-align: right;
        line-height: 1.2;
      }

      ul {
        padding: 0;
        max-height: 100vh;
        width: 100%;
        height: auto;
        list-style: none;
        opacity: 1;
        //nav animation
        transition: all 0.5s ease-in;

        li {
          margin-bottom: 0;

          a {
            padding-bottom: 0;
            cursor: pointer;
            &.complete {
              span {
                svg {
                  display: flex;
                  width: 1rem;
                  height: 1rem;
                  color: $navy;
                  opacity: 1;
                  animation-name: scale-easeOutBounce;
                  animation-duration: 0.3s;
                }
              }
            }
            h3 {
              color: $navy;
            }
            span {
              margin: 0 0.3125rem;
              width: 0.375rem;
              height: 0.375rem;
              background-color: $navy;
              svg {
                color: $navy;
                //display: none;
                opacity: 0;
              }
            }
            p {
              flex-grow: 0;
              flex-shrink: 0;
              margin-right: 7px;
              padding: 0 ($padding * 1.5625) 0 0;
              min-height: 12px;
              width: calc(100% - 7px);
              border-right: 2px $navy solid;
              color: $navy;
              text-align: right;
              line-height: 1.2;

              &:first-of-type {
              }
            }

            &.disabled {
              cursor: default;
              h3 {
                color: $lightGrey;
              }
              span {
                background-color: $lightGrey;
              }
              p {
                display: block;
                border-color: $lightGrey;
                color: $lightGrey;
              }
            }
            &.active {
              cursor: default;
              &.complete {
                span {
                  svg {
                    //display: none;
                    opacity: 1;
                  }
                }
              }
              h3 {
                color: $blue;
              }
              span {
                background-color: $blue;
              }
              p {
                border-color: $blue;
                color: $blue;
              }
            }
          }
        }
      }
    }
  }

  &.hasUnderwritingError {
    .propertyAddressWrapper {
      display: none;
    }
    > ul {
      display: none;
    }
  }

  &.hasUnderwritingException {
    opacity: 0.4;

    @include forPhoneOnly {
      opacity: 1;
    }
    > ul {
      a {
        &.active {
          h3 {
            color: $lightGrey;
          }
          span {
            background-color: $lightGrey;
          }
          p {
            border-color: $lightGrey;
            color: $lightGrey;
          }
        }
      }
    }
  }
}

@include forPhoneOnly {
  .navSlideIn {
    animation: slideLeft 0.15s steps(2, end) both;
  }
}

.navSlideOut {
  animation: slideRight 0.15s steps(2, end) both;

  ~ main[role='main'] {
    filter: blur(2px);
  }
}
