//nav styling

.navOpener {
  display: none;

  @include forPhoneOnly {
    position: fixed;
    top: 4.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
    width: 1.75rem;
    height: 2.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: $white;

    svg {
      align-self: center;
    }
  }
}

nav[role='navigation'] {
  display: flex;
  flex-direction: column;
  min-width: 13rem;

  > ul {
    margin: 0;
    padding: 2.75rem 0rem 2rem 0;
    list-style: none;
    flex-grow: 1;
    flex-shrink: 1;
    overflow-x: hidden;
    > li {
      text-align: right;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 0.75rem;
      flex-grow: 1;
      flex-shrink: 1;

      //hide styling - hides first level li and children
      &.hide {
        display: none;
      }
      //disabled styling - styles first level li and hides children
      &.disabled {
        ul {
          display: none;
        }

        .application {
          display: none;
        }
        h3 {
          color: $lightGrey;
        }
        span {
          background-color: $lightGrey;
        }
      }
      //complete styling - styles first level li and children
      &.complete {
        a {
          span {
            background-color: $white;
            color: $green;
            svg {
              width: 1rem;
              height: 1rem;
            }
          }
        }
      }

      a {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 0.75rem;

        h3 {
          flex-grow: 1;
          flex-shrink: 1;
          margin: 0 1rem 0 0;
          width: calc(100% - 2rem);
          text-align: right;
        }
      }

      span {
        display: flex;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;
        justify-content: center;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: $green;
        color: $white;
        font-size: 0.5rem;
        font-weight: bold;
        line-height: 1rem;

        svg {
          color: $green;
          background-color: $white;
          width: 1rem;
          height: 1rem;
        }
      }

      > h3 {
        flex-grow: 1;
        flex-shrink: 1;
        margin: 0 1rem 0 0;
        width: calc(100% - 2rem);
        text-align: right;
      }

      p {
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 7px;
        margin-top: 1rem;
        margin-bottom: 0;
        min-height: 12px;
        width: calc(100% - 7px);
        border-right: 2px $navy solid;
        text-align: right;
        line-height: 1.2;
      }

      ul {
        margin-top: 0.75rem;
        padding: 0;
        list-style: none;
        width: 100%;
        li {
          a {
            h3 {
              color: $navy;
            }
            span {
              margin: 0 0.3125rem;
              width: 0.375rem;
              height: 0.375rem;
              background-color: $navy;
              svg {
                display: none;
              }
            }
            p {
              color: $navy;
              flex-grow: 0;
              flex-shrink: 0;
              margin-right: 7px;
              margin-top: 0;
              margin-bottom: 0;
              padding: 0 ($padding * 1.5625) 0 0;
              min-height: 12px;
              width: calc(100% - 7px);
              border-right: 2px $navy solid;
              text-align: right;
              line-height: 1.2;

              &:first-of-type {
                margin-top: $padding;
              }
            }
            &.disabled {
              &.complete {
                span {
                  background-color: $white;
                  svg {
                    color: $lightGrey;
                  }
                }
              }
              h3 {
                color: $lightGrey;
              }
              span {
                background-color: $lightGrey;
              }
              p {
                display: block;
                border-color: $lightGrey;
                color: $lightGrey;
              }
            }
            &.complete {
              span {
                background-color: $white;
                svg {
                  display: block;
                  width: 1rem;
                  height: 1rem;
                  color: $navy;
                }
              }
            }
            &.active {
              cursor: default;
              &.complete {
                span {
                  svg {
                    display: none;
                  }
                }
              }
              h3 {
                color: $blue;
              }
              span {
                background-color: $blue;
              }
              p {
                border-color: $blue;
                color: $blue;
              }
            }
          }
        }
      }
    }
  }
}

@include forPhoneOnly {
  .navSlideOut {
    animation: slideLeft 0.15s steps(2, end) both;
  }
}

.navSlideIn {
  animation: slideRight 0.15s steps(2, end) both;
}
