// heading styles

h1,
h2,
h3,
h4,
h5,
p,
label {
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
}

h1 {
  font-size: $fontSizeHeader;
  font-family: $serif;
}

h2 {
  font-size: $fontSizeHeader--small;
  font-family: $serif;
}

h3 {
  font-size: $fontSizeSubheader;
  font-family: $serif;
}

h4 {
  font-size: $fontSizeSubheader--small;
}

h5 {
  font-size: $fontSizeBase;
}

p {
  font-size: $fontSizeBody;
  max-width: 90ch;
  line-height: 1.3;
}

label {
  font-size: $fontSizeLabel;
  font-weight: bold;
}
