// heading styles

h1,
h2,
h3,
h4,
h5,
p,
label {
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
}

h1 {
  font-size: $fontSizeHeader;
  font-family: $serif;

  @include forPhoneOnly {
    font-size: $fontSizeHeader--small;
  }
}

h2 {
  font-size: $fontSizeHeader--small;
  font-family: $serif;
  display: flex;

  label {
    font-size: $fontSizeHeader--small;
    font-weight: normal;
    width: auto;
    padding: 0 ($padding / 2) 0 0;
  }
}

h3 {
  font-size: $fontSizeSubheader;
  font-family: $serif;
}

h4 {
  font-size: $fontSizeSubheader--small;
}

h5 {
  font-size: $fontSizeBase;
}

p {
  max-width: 90ch;
  font-size: $fontSizeBody;
  line-height: 1.3;

  //mobile styling
  @include forPhoneOnly {
    margin-bottom: 1rem;
  }
}

label {
  font-weight: bold;
  font-size: $fontSizeLabel;
}
