header {
  display: flex;
  align-items: center;
  padding: $padding ($padding * 1.5);

  //banner is child element when header needs to act as wrapper
  > div[role='banner'] {
    display: flex;
    align-items: center;
  }
}
